<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2012/10/Food.jpg);">
  <div class="container">
      <h1>Find Restaurants</h1>
      <a class="btn btn-danger" href="#">I'm hungry</a>
  </div>
</div>

<div class="container mt-4">
  <h2 style="text-align: center;">Popular Restaurants:</h2>
  <p style="text-align: center;">Trending restaurants near you</p>
</div>

<div class="cards mt-4">
  <div class="card-category" onclick="window.location='http://tacobellbrasil.com.br/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://abrilexame.files.wordpress.com/2017/02/lua_4738.jpg)">
    TACO BELL
  </div>

  <div class="card-category" onclick="window.location='http://www.burgerking.com.br/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://www.hongkongfp.com/wp-content/uploads/2015/12/1654715_10152300085893833_109071129_o.jpg)">
    BURGUER KING
  </div>

  <div class="card-category" onclick="window.location='http://viena.com.br/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media-cdn.tripadvisor.com/media/photo-s/0c/c3/93/f8/viena-restaurante.jpg)">
    VIENA
  </div>

  <div class="card-category" onclick="window.location='https://www.hooters.com/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media-cdn.tripadvisor.com/media/photo-s/0f/78/7c/f8/front-sign.jpg)">
    HOOTERS
  </div>

  <div class="card-category" onclick="window.location='https://www.mcdonalds.com.br/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://s2.glbimg.com/dwu2KN_GAv2pi2CvK0fhoKi0JdI=/940x523/e.glbimg.com/og/ed/f/original/2017/08/26/mcdonalds.jpg)">
    MC'DONALDS
  </div>

  <div class="card-category" onclick="window.location='http://bullguer.com/';" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media-cdn.tripadvisor.com/media/photo-s/0e/d1/ce/88/unidade-vila-madalena.jpg)">
    BULLGUER
  </div>
</div>

<div class="container mt-4">
  <h2 style="text-align: center;">About Us</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nihil animi a in, cum tempora, esse quae doloremque magnam ducimus iste molestias vitae accusantium explicabo necessitatibus, hic nemo numquam! Tempora.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A delectus repellat iste reprehenderit doloremque tempora. Commodi vitae, autem praesentium deserunt perferendis? Mollitia maxime at voluptates voluptas, hic ducimus. Eius, vitae!</p>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    I don't have friends
  </div>
</div>
